<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:util1="http://www.springframework.org/schema/util"
   xmlns:p="http://www.springframework.org/schema/p"
   xmlns:c="http://www.springframework.org/schema/c"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
   default-init-method="customInit" default-destroy-method="customDestroy">
<bean id = "e1" class = "com.ibm.model.Employee">
 <property name="id" value = "1"></property>
 <property name="name" value = "Ritam"></property>
</bean> 
<bean id = "e2" class = "com.ibm.model.Employee">
 <property name="id" value = "2"></property>
 <property name="name" value = "Ram"></property>
 <property name="emails">
 <util1:list id="emails"  list-class="java.util.LinkedList">
    <value>pechorin@hero.org</value>
    <value>raskolnikov@slums.org</value>
    <value>stavrogin@gov.org</value>
    <value>porfiry@gov.org</value>
</util1:list> 
 </property>
</bean>     
<bean id = "s" class = "com.ibm.model.Student">
<constructor-arg value = "1" type = "int" index = "0"/>
<constructor-arg value = "Ramesh" type = "String" index = "1"/>
<constructor-arg value = "ramesh@gmail.com" type = "String" index = "2"/>
</bean>  
<bean id = "s2"  class = "com.ibm.model.Student">
<property name="address">
  <list>
   <ref bean = "a"/>
   <ref bean = "a2"/>
  </list>
</property>
<property name="singleAddress">
 <bean id = "a" class = "com.ibm.model.Address">
    <property name = "locId" value = "2"/>
    <property name = "location" value = "Thubarahalli"/>
 </bean>
</property> 
</bean>
 
<bean id = "s3"  class = "com.ibm.model.Student">
<constructor-arg value = "1"/>
<constructor-arg ref  = "a"/>

</bean>
<bean id = "a" class = "com.ibm.model.Address">
 <property name = "locId" value = "1"/>
 <property name = "location" value = "Belgharia"/>
</bean>
<bean id = "a2" class = "com.ibm.model.Address">
 <property name = "locId" value = "2"/>
 <property name = "location" value = "Kundanahalli"/>
</bean>
<bean id = "a3" class="com.ibm.model.Address" p:locId = "2" p:location = "Kadubesannahalli" ></bean>
<bean id = "s4" class = "com.ibm.model.Student" c:id ="5" c:singleAddress-ref = "a3"></bean>
<bean id = "s5" class = "com.ibm.model.Student" p:id ="6" p:singleAddress-ref = "a3"></bean>
       
        
        
</beans>
        